<!-- <div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <img [src]="currentImage" class="img-card" (swipeleft)="onSwipeLeft($event)"
        (swiperight)="onSwipeRight($event)" />
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-12">
    <div class="text-center">
      <button class="btn btn-primary mr-2" (click)="back()">Back</button>
      <button class="btn btn-primary mr-2" (click)="prev()" [disabled]="currentIndex === 0">Previous</button>
      <button class="btn btn-primary" (click)="next()"
        [disabled]="currentIndex === AppConstant.IMG_LIST.length - 1">Next</button>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <ngb-carousel [activeId]="activeId" class="caro"
        [showNavigationArrows]="showNavigationArrows" 
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of AppConstant.IMG_LIST; index as i" [id]="image.toString()">
          <img [src]="getImage(image)" alt="Random slide" class="img-card" />
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>